body {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0;
}


.main-header__wrapper {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  height: 550px;

}

.main-header__logo {
  text-decoration: none;
  color: #ffffff;
  
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
  letter-spacing: 0.05em;
  display: inline-block;

  margin: 0;
  margin-left: 230px;
  margin-right: 300px;
  margin-top: 40px;
  padding: 0;
 
}

.main-header__wrapper--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 0;
  margin: 0;
  margin-top: 45px;
}

.main-navigation__item {
  text-decoration: none;
  margin-right: 40px;
}

.main-navigation__link {
  text-decoration: none;
  color: #ffffff;
}

.main-navigation__link:hover {
  text-decoration: underline;
}

.main-navigation__link:active {
  opacity: 0.8;
}


.header__title {
  font-family: "Lora";
  color: #ffffff;
  font-size: 70px;
  line-height: 74px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-shadow: 5px 10px 15px black;

  width: 560px;
  margin: 0;
  margin-left: 230px;
  margin-top: 125px;

}

.player__wrapper {
  background-color: #b50b1e;
}

.player__scale-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.player-controls__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.player__btn {
  background-color: #b50b1e;
  border: none;
  z-index: 2;
}

.player__btn:hover {
  opacity: 0.7;
}

.play-btn {
  margin-left: 230px;
  margin-right: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.player__song-name {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  color: white;
  z-index: 2;
}

.player__song-timer {
  margin: 0;
  margin-left: 260px;
  padding: 0;
  padding-top: 20px;
  color: white;
  z-index: 2;
}

.filter-fieldset {
 border: none;
}

.range-filter {
  position: absolute;
  left: 500px;
  width: 565px;
  margin-bottom: 60px;
  background-color: #b50b1e;
  z-index: 1;
}

.range-controls {
  position: relative;
  left: -175px;
  top: 15px;

  height: 20px;

  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 7px;

  background-color: black;
}
.range-controls .bar {
  width: 30%;
  height: 7px;

  background-color: #72040d;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 1px;
  height: 1px;
  padding: 0;

  border: 6px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle {
  left: 175px;
  top: 35px;
}



.section-title {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 28px;

  color: #2a333c;

  padding: 0;
  margin: 0;
 
}

.section-title:before {
  content: url(../img/markup.png);
  position: relative;
  top: -5px;
}

.genres-stations__title {
  margin-top: 60px;
}

.stations__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  
  padding: 0;
  margin: 0;
  margin-left: 230px;
  margin-top: 60px;
  width: 940px;
}

.station-item {
  margin-right: 20px;
}

.station__link:hover {
 -webkit-filter: invert(1);
         filter: invert(1);
}

.station__link:active {
  -webkit-filter: none;
          filter: none;
}

.load-more-btn {
  margin-left: 550px;
  margin-top: 40px;
  margin-bottom: 95px;
  padding-left: 105px;
  padding-right: 105px;
  height: 40px;

  border: 1px solid #dddddd;
  background-color: white;
  color: red;

  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-family: "Montserrat";
}

.event__title {
 margin-bottom: 65px; 
}

.event__wrapper {
 position: relative;

 background-image: url(../img/event-bg.jpg);
 background-repeat: no-repeat;

}

.event__img-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 700px;
  top: -100px;

}

.event__border-wrapper {
 position: absolute;
 left: 240px;
 top: 30px;

}


.event__list {
  list-style: none;
  margin: 0;
  margin-left: 275px;
  padding: 0;
  padding-top: 70px;

  color: white;
}

.event__data {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.band-name__title {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;

  font-size: 48px;
  line-height: 50px;

}

.event__adress {
  margin: 0;
  padding: 0;
}

.event__adress {
  padding-bottom: 60px;
}

.news__main-title {
  margin-top: 60px;
  margin-bottom: 70px;
}

.news__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

  margin: 0;
  margin-left: 239px;
  padding: 0;
  color: #2a333c;
}

.news__item {
  width: 300px;
  margin-right: 25px;
  border: 1px solid #dddddd;
  border-radius: 1%;
}

.news__data,
.news__title {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 60px;
}

.news__data {
  position: relative;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 30px;

  font-weight: bold;
  font-size: 11px;
  line-height: 24px;
  text-transform: uppercase;
}

.news__data:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #dddddd;
  left: 25px;
  top: 32px;
}

.news__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.news__article {
  margin: 0;
  padding-bottom: 40px;
  padding-top: 45px;
  padding-left: 25px;
  padding-right: 40px;

  line-height: 24px;
  font-weight: 600;

}

.news-btn__read-more {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;

  background-color: white;
  border: 1px solid #dddddd;

  color: #b50b1e;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

}

.contact-us__title {
  margin-top: 190px;
  margin-bottom: 60px;
}

.subscribe__wrapper {
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
}

.subscribe__title {
  margin: 0;
  margin-bottom: 35px;
  margin-left: 230px;
  padding: 0;
  padding-top: 50px;

  color: white;
  font-size: 60px;
  line-height: 62px;
  font-weight: bold;
  text-shadow: 5px 5px 50px black;
}

.subscribe__text {
  margin: 0;
  margin-left: 230px;
  margin-bottom: 35px;
  padding: 0;

  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  /*letter-spacing: 0.01em;*/
  width: 590px;

}

.subscribe-form {
  position: relative;

  margin: 0;
  margin-left: 230px;
  padding: 0;

}

.subscribe-form__input { 
  font-family: "Montserrat";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid  white;
  border-radius: 7px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 60px;
  width: 620px;
}

.subscribe-form__btn {
  position: absolute;

  left: 485px;
  top: 6px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 14px;

  border: 1px solid #b50b1e;
  border-radius: 5px;

  background-color: #b50b1e;
  color: white;

  font-weight: bold;
  text-transform: uppercase;
}

.subscribe-form__btn:hover {
  opacity: 0.7;
}

.subscribe-form__btn:active {
  opacity: 0.9;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copyright {
  display: inline-block;

  font-weight: 600;
  margin: 0;
  margin-top: 24px;
  margin-left: 230px;
  margin-right: 215px;
  padding: 0;
  letter-spacing: 0.05em;
}

.footer__list--social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-top: 18px;
  margin-bottom: 40px;
  
  padding: 0;

}

.footer__item {
  position: relative;
  margin-right: 60px;
  vertical-align: center;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__social-link:hover {
  opacity: 0.3;
}

.footer__social-link:active {
  opacity: 0.8;
}

.twitter-link {
  position: absolute;
  top: 6px;
  left: -15px;
}

.instagram-link {
  position: absolute;
  top: 5px;
  left: -10px;
}

.pinterest-link {
  position: absolute;
  top: 3px;
}

.youtube-link {
  position: absolute;
  top: 7px;
}

.button {
  cursor: pointer;
}

.button:hover {
  opacity: 0.6;
}

.button:active {
  opacity: 1;
  background-color: #b50b1e;
  color: white;
}