body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}


.main-header__wrapper {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  height: 550px;

}

.main-header__logo {
  text-decoration: none;
  color: #ffffff;
  
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
  letter-spacing: 0.05em;
  display: inline-block;

  margin: 0;
  margin-left: 230px;
  margin-right: 300px;
  margin-top: 40px;
  padding: 0;
 
}

.main-header__wrapper--flex {
  display: flex;
  flex-wrap: nowrap;
}

.main-navigation__list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  margin-top: 45px;
}

.main-navigation__item {
  text-decoration: none;
  margin-right: 40px;
}

.main-navigation__link {
  text-decoration: none;
  color: #ffffff;
}

.header__title {
  color: #ffffff;
  font-size: 72px;
  line-height: 75px;
  font-weight: bold;
  letter-spacing: 0.05em;

  width: 560px;
  margin: 0;
  margin-left: 230px;
  margin-top: 125px;

}

.player__wrapper {
  background-color: #b50b1e;
}

.player__scale-form {
  display: flex;
  position: relative;
}

.player-controls__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.player__btn {
  background-color: #b50b1e;
  border: none;
  z-index: 2;
}

.player__btn:hover {
  opacity: 0.7;
}

.play-btn {
  margin-left: 230px;
  margin-right: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.player__song-name {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  color: white;
  z-index: 2;
}

.player__song-timer {
  margin: 0;
  margin-left: 260px;
  padding: 0;
  padding-top: 20px;
  color: white;
  z-index: 2;
}

.filter-fieldset {
 border: none;
}

.range-filter {
  position: absolute;
  left: 500px;
  width: 565px;
  margin-bottom: 60px;
  background-color: #b50b1e;
  z-index: 1;
}

.range-controls {
  position: relative;
  left: -175px;
  top: 15px;

  height: 20px;

  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 7px;

  background-color: black;
}
.range-controls .bar {
  width: 30%;
  height: 7px;

  background-color: #72040d;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 1px;
  height: 1px;
  padding: 0;

  border: 6px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle {
  left: 175px;
  top: 35px;
}

.genres-stations__title {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 28px;

  padding: 0;
  margin: 0;
  margin-top: 60px;
}

.genres-station__title::before {
  content: url(../img/markup.png);
  top: 2px;
}
